@import "vars";
@import "components/sampler";

main {
	opacity: 1;
	padding: 16px;
	height: 100%;
	article {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
		height: calc(100% - 60px);
		justify-content: center;
		width: 100%;
	}
}
#indexing {
	ol {
		flex-direction: column;
		justify-content: flex-start;
		li {
			margin-top: 16px;
			padding: 0;
		}
	}
}
